
.bodyBackground{
   background-color: mediumpurple;
}
.section-shaped{
        /* background: linear-gradient(150deg, #7a93e6 15%, #cc30ff8f 70%, #372ebd 94%); */
    background: linear-gradient(150deg, purple 15%, #cc30ff8f 70%, #cc30ff8f 94%);
}


.artCoin{
    
}
.wellBox {
   
    
}
/* Header */
.headIcons{
    height: auto;
    
}
.headbodywidth{
    width: 30%;
}
/* body Welcome */

.balls img {
    width: 170%;
    height: auto;
    position: absolute;
    
}

/* footer */
.footerBackground{
   background-color: rebeccapurple;
    
    
}
